.contacts {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include on-desktop {
    gap: 20px;
  }

  &__link,
  &__description {
    width: fit-content;

    @extend %small-text;

    color: $color-bg;

    @include on-desktop {
      font-size: 16px;
    }
  }

  &__link {
    @include hover(color, #fff);
  }
}
