$main-font-family: "Poppins", sans-serif;

$color-bg: #e4dfd3;
$color-primary: #333;
$color-border: #bdbdbd;
$color-accent: #344f10;
$color-error: #e74c3c;

$container-padding-mobile: 20px;
$container-padding-tablet: 27px;
$container-padding-desktop: 50px;
$container-padding-large: 130px;
